*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 0px;
    padding: 20px;
    color: #DB4682;
    height: 200px;
    font-size: 2.5em;
    vertical-align: middle;
}

.logo{
    background-color: white;
    padding: 10px;
    text-align: center;

    width: 200px;
    height: 100px;
    float: left;
}
.cabecalho{
    padding: 10px;
    text-align: center;
}
#capa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #DB4682;
    color:#ffffff;
    padding-top: 20px;
}
.capa{
    width: 50%;

}
.capa img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.desafio{
    background-color: #DB4682;
    color:#ffffff;
    padding: 50px;
}

.solucao{
    background-color: #383838;
    color:white;
    padding: 50px;
}

li{
    font-weight: bold;
    font-size: 1.5em;
}

p{
    font-size: 1em ;
}

footer{
    background-color: #DB4682;
    text-align: center;
    font-weight: bold;
    padding-top:25px;
    padding-bottom: 25px;
    color: #ffffff;
}
@font-face{
fonte-family: 'IBM';
src: url('../fontes/IBMPlexMono-Medium.ttf') format('truetype');
    font-weight: normal;
}
body{
font-family: 'IBM',sans-serif;
}
